<app-grid [(page)]="page"
					[(size)]="size"
					[(total)]="total"
					[(parametros)]="parametros"
					(onChangeSize)="changeSize($event)"
					(onChangePage)="changePage($event)"
					[(isShowPanel)]="exibirCabecalhoGrid"
					>

	<div class="table-responsive no-margin-bottom no-border">
		<table class="table table-striped">
			<thead class="table-header-color">
				<tr>
					<th class="th-sortable th-50">
						<app-ordenacao field="NumeroControle" [sorted]="sorted" (onChangeSort)="changeSort($event)">Nº Controle</app-ordenacao>
					</th>
					<th class="th-sortable th-50">
						<app-ordenacao field="TipoModalidade" [sorted]="sorted" (onChangeSort)="changeSort($event)">Modalidade</app-ordenacao>
					</th>
					<th class="th-sortable th-50">
						<app-ordenacao field="TipoStatus" [sorted]="sorted" (onChangeSort)="changeSort($event)">Status</app-ordenacao>
					</th>
					<th class="text-center th-100">Ações</th>
				</tr>
			</thead>
	
			<tbody>
				<tr *ngFor="let item of lista; let ind = index">
					<td class="text-left">{{item.numeroControleString}}</td>
					<td class="text-left">{{item.tipoModalidadeDescricao}}</td>
					<td class="text-left">{{item.tipoStatusDescricao}}</td>
					<td class="text-center">
						<a (click)="emitirParecer(item)" class="btn btn-default btn-sm" data-toggle="tooltip" title=""
							data-original-title="Emitir Parecer"><i class="i  i-stack2"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</app-grid>

<app-relatorio-parecer-tecnico #relatorio ></app-relatorio-parecer-tecnico>