<div #appModalConsultarProtocoloEnvioInformacao id="1" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	<div class="modal-dialog" style="width:700px">
		<div class="modal-content">
			<!-- MODAL HEADER BGN -->

			<div class="modal-header bg-default" style="padding: 10px 15px; color: white; background-color: #5C4B7B">

				<h4 class="modal-title" id="ajudaModalLabel"><b>Informação</b></h4>

			</div>
			<!-- MODAL HEADER END -->

			<!-- MODAL BODY BGN -->
			<div class="modal-body" style="background-color: #f2f4f8">
				<p>Empresa encontra-se bloqueada, não foi possível realizar a validação do Arquivo do PLI. É necessário regularizar a situação cadastral junto à Suframa.</p>
			</div>
			<!-- MODAL BODY END -->

			<!-- MODAL FOOTER BGN -->
			<div class="modal-footer" style="padding: 10px 15px;">

				<button type="button" class="btn btn-sm btn-default" (click)="fechar()"><span class="fa fa-times"></span> Fechar</button>

			</div>
			<!-- MODAL FOOTER END -->

		</div>
	</div>
</div>

<div #appModalConsultarProtocoloEnvioInformacaoBackground class="modal-backdrop fade in" style="display: none;"></div>
