<app-grid [(page)]="page"
					[(size)]="size"
					[(total)]="total"
					[(parametros)]="parametros"
					(onChangeSize)="changeSize($event)"
					(onChangePage)="changePage($event)"
					>

	<div class="table-responsive no-margin-bottom no-border">
		<table class="table table-striped">
			<thead class="table-header-color">
				<tr>
					<th class="text-center th-100">Ações</th>
					<th class="th-sortable unset-nowrap" *ngIf="isCorrecao">
						<app-ordenacao field="SituacaoAnalise" [sorted]="sorted" (onChangeSort)="changeSort($event)">Status</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="CodigoInsumo" [sorted]="sorted" (onChangeSort)="changeSort($event)">Cód. Insumo</app-ordenacao>
					</th>					
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="TipoInsumo" [sorted]="sorted" (onChangeSort)="changeSort($event)">Tipo</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="CodigoNcm" [sorted]="sorted" (onChangeSort)="changeSort($event)">NCM</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DescricaoInsumo" [sorted]="sorted" (onChangeSort)="changeSort($event)">Descrição do Insumo</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="ValorCoeficienteTecnico" [sorted]="sorted" (onChangeSort)="changeSort($event)">Coef. Técnico</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="CodigoUnidade" [sorted]="sorted" (onChangeSort)="changeSort($event)">Unidade</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DescricaoEspecificacaoTecnica" [sorted]="sorted" (onChangeSort)="changeSort($event)">Especificação Técnica</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DescricaoPartNumber" [sorted]="sorted" (onChangeSort)="changeSort($event)">Part Number</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="Situacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Perc Perda(%)</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="Situacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Quantidade</app-ordenacao>
					</th>
					<th class="th-sortable">
						<app-ordenacao field="Situacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Valor do Insumo<br>(R$)</app-ordenacao>
					</th>
				</tr>
			</thead>

			<tbody>
				
				<tr *ngFor="let item of lista">
					<td class="text-center" *ngIf="!somenteLeitura">
						<b *ngIf="item.isPlanoEmElaboracao || (!isCorrecao && (item.situacaoAnalise == 2 || item.situacaoAnalise == 4))">
							<a routerLink="/manter-plano-exportacao-detalhes-insumos/{{item.idPEInsumo}}/detalhe-nacional"
								class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Detalhe do Insumo"><i class="fa fa-list"></i>
							</a>
							<a (click)="excluirInsumo(item)"
								class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Excluir"><i class="fa fa-trash-o"></i>
							</a>
						</b>
						<!-- INICIO OPÇÕES DE CORREÇÃO -->
						<b *ngIf="isCorrecao && (item.situacaoAnalise == 2 || item.situacaoAnalise == 4)">
							<a	routerLink="/manter-plano-exportacao-detalhes-insumos/{{item.idPEInsumo}}/detalhe-nacional-visualizar"
								class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Detalhe do Insumo"><i class="fa fa-list"></i>
							</a>
							<a (click)="abrirModalJustificativaErro(item)" 
								class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Justificativa de Erro">
								<i class="fa fa-comment-o"></i>
							</a>
							<a routerLink="/manter-plano-exportacao-detalhes-insumos/{{item.idPEInsumo}}/detalhe-nacional-correcao"
								class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Corrigir">
								<i class="fa fa-pencil"></i>
							</a>
							<a (click)="confirmarInativacao(item)" 
								class="btn btn-danger btn-sm" data-toggle="tooltip" title="" data-original-title="Inativar">
								<i class="fa fa-trash-o"></i>
							</a>
						</b>
						<!-- FIM OPÇÕES DE CORREÇÃO -->
					</td>
					<td class="text-center" *ngIf="somenteLeitura">
						<a	routerLink="/manter-plano-exportacao-detalhes-insumos/{{item.idPEInsumo}}/detalhe-nacional-validar"
							class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Detalhe do Insumo"><i class="fa fa-list"></i>
						</a>
					</td>
					<td class="text-left" *ngIf="isCorrecao" [ngClass]="{'textGreen':item.situacaoAnalise == 1, 
														'textRed':item.situacaoAnalise == 2}" >{{item.situacaoAnaliseString}}</td>
					<td class="text-left">{{item.codigoInsumo}}</td>
					<td class="text-left">{{item.tipoInsumo}}</td>
					<td class="text-left">{{item.codigoNcm}}</td>
					<td class="text-left">{{item.descricaoInsumo}}</td>
					<td class="text-left">{{item.valorCoeficienteTecnico}}</td>
					<td class="text-left">{{item.codigoUnidade}}</td>
					<td class="text-left">{{item.descricaoEspecificacaoTecnica}}</td>
					<td class="text-left">{{item.descricaoPartNumber}}</td>
					<td class="text-left">{{item.valorPercentualPerda}}</td>
					<td class="text-left">{{item.qtdSomatorioDetalheInsumoFormatada}}</td>
					<td class="text-left">{{item.valorInsumoFormatada}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</app-grid>
<app-modal-justificativa-erro #modalJustificativaErro></app-modal-justificativa-erro>