<!-- https://stackoverflow.com/questions/14873126/connectionstrings-configsource-in-app-config-not-working -->
<appSettings>
	<!-- CORS -->
	<add key="ORIGINS_CORS" value="*" />
	<add key="HEADERS_CORS" value="Origin, Content-Type, X-Auth-Token, authorization,frontguid" />
	<add key="METHODS_CORS" value="GET, POST, PATCH, PUT, DELETE, OPTIONS" />
  

  <add key="DEVELOPMENT_MODE" value="true" />
	
  <!-- O URL DO FRONTEND PRECISA TERMINAR COM / -->
  <add key="URL_FRONTEND" value="http://localhost:4200/" />
  <add key="URL_BACKEND" value="https://localhost:44365/" />
  <add key="URL_CAS" value="https://localhost:8443/cas/login?service=https%3a%2f%2flocalhost:44365%2fsessao" />
  <add key="URL_BASE_PSS" value="https://localhost:8443/backend-pss-autorizacao/rest/" />
  <add key="URL_MENU" value="contexto-funcao/menus-usuario?sistemaSigla=SIMNAC" />
  <!-- SERVICES -->
	<!-- SERVICES -->
	<!-- ARRECADACAO -->

	<add key="URL_ARRECADACAO" value="http://10.75.34.46:8080/api/" />

	<add key="USER_ARRECADACAO" value="arrecadacao" />
	<add key="PASS_ARRECADACAO" value="37737ae57bcc1f8dffef0e3b62eb5c6b" />

	<!--SISTEMA DE AUTENTICADO-->
	<add key="URL_AUTENTICACAO" value="https://172.24.32.181/sac-backend/rest/usuario/obtersaa" />

	<!-- CADASTRO USUARIO -->
	<add key="URL_INTEGRACAO_LEGADO" value="https://172.24.32.181/cadsuf-integracao-legado-backend/rest/" />

	<!-- CADASTRO -->
	<add key="URL_CADASTRO" value="https://172.24.32.181/sac-backend/rest/" />

	<!-- HOMOLOG/PROD -->
	<!--add key="URL_AUTENTICACAO" value="https://.14/sac-backend/rest/usuario/obtersaa" /-->

	<!-- SISTEMA DE INTEGRACAO LEGADO -->

	<!-- EMAIL OFICIAL SUFRAMA -->
	<add key="FROM_EMAIL" value="suframa@suframa.gov.br" /> 
	<add key="PORT_EMAIL" value="25" />
	<add key="HOST_EMAIL" value="mail-apl.serpro.gov.br" />
	<add key="MAIL_CREDENTIALS_EMAIL" value="mail-apl.serpro.gov.br" />
	<add key="PASS_CREDENTIALS_EMAIL" value="" />
	<add key="SSL_HOST_EMAIL" value="true" />

	<!-- EMAIL TESTE DESENVOLVIMENTO -->
	<!--<add key="FROM_EMAIL" value="andrealves@lampp-it.com.br" />
	<add key="PORT_EMAIL" value="587" />
	<add key="HOST_EMAIL" value="smtp.gmail.com" />
	<add key="MAIL_CREDENTIALS_EMAIL" value="andrealves@lampp-it.com.br" />
	<add key="PASS_CREDENTIALS_EMAIL" value="@c3ss0lamppit01" />
	<add key="SSL_HOST_EMAIL" value="true" />-->

	<!-- LDAP -->
	<add key="IP_LDAP" value="10.75.8.3" />
	<add key="USER_LDAP" value="www4" />

	<!-- PARÂMETROS -->
	<!-- Parâmetro utilizado para obter a unidade cadastradora de Manaus -->
	<add key="ID_MUNICIPIO_UNIDADE_CADASTRADORA" value="112" />
	<add key="MINUTES_EXPIRE_TOKEN" value="480" />

	<!-- CAPTCHA  -->
	<add key="CAPTCHA_URL" value="https://www.google.com/recaptcha/api/siteverify" />
	<add key="CAPTCHA_SITE_KEY" value="6Le9LjwUAAAAAMtF1o5cSzg2EXWy1h23OoSbcupv" />
	<add key="CAPTCHA_SECRET_KEY" value="6Le9LjwUAAAAANblzTMKdpBBeXIC2sUxKAut_wVZ" />
	<add key="BYPASS_CAPTCHA" value="false" />

	<!-- USADO PARA RANDOMIZAR A HASH NA GERAÇÃO DO TOKEN -->
	<add key="TOKEN_SECRET" value="db3OIsj+BXE9NZDy0t8W3TcNekrF+2d/1sFnWG4HnV8TZY30JTOdtVWJG8abWvB1GlOgJuQZdcF2Lasd/hccMw==" />

	<!-- DECRETO NOME SOCIAL -->
	<add key="ID_DECRETO_NOME_SOCIAL" value="1" />

	<!-- NÃO EXECUTAR A ROTINA A ROTINA DE VALIDAÇÃO DE USUARIO/SENHA RETORNANDO SEMPRE VÁLIDO -->
	<!-- ESTE PARAMETRO SÓ DEVE SER EXECUTADO EM DESENVOLVIMENTO -->
	<add key="BYPASS_AUTHENTICATION" value="true" />


	<!-- CONFIGURAÇÃO DE FTP -->
	<add key="FTP_USUARIO" value="implanta" />
	<add key="FTP_SENHA" value="@rrecada2017" />

	<add key="UrlAnalistaDesignado" value="https://pss.hom.suframa.gov.br/backend-pss-autorizacao/rest/usuario-sistema/annon/381/perfil"/>

</appSettings>