<div #appModalAmparoLegalBeneficio class="modal modal-Xwide fade in" tabindex="-1" role="dialog" aria-hidden="false"
    style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header" style="background-color: rgb(9, 104, 45); color: #000;padding: 10px 15px; color: White;">
				<h4 class="modal-title" id="ajudaModalLabel">Amparo Legal do Benefício</h4>
            </div>
            
			<div class="panel panel-default">

                <div class="panel-heading">
                     <b> <h4>Benefício: {{ codigo }} {{ descricao }} <br> <br> Tipo: {{ tipobeneficio }} - {{percentual}}% </h4> </b>
                </div>

                <div class="tab-content modal-body" style="overflow-y: scroll;"> 
                    <div class="col-sm-10">
                        <div class="row form-group">
        
                            <label for="justificativa" class="control-label">Amparo Legal:</label>
                            <textarea   class="form-control" 
                                        name="text-amparo-legal" 
                                        required
                                        #textAmparoLegal
                                        rows="5"
                                        style="resize: none;"
                                        value="{{texto}}"
                                        readonly>
                                        
                            </textarea>
                                                                        
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer" style="padding: 10px 15px;">
				<button type="button" class="btn btn-sm btn-default" (click)="fechar()"><span class="fa fa-times"></span> Fechar</button>
			</div>
            
		</div>
	</div>
</div>
<div #appModalAmparoLegalBeneficioBackground class="modal-backdrop fade in" style="display: none;"></div>