<app-grid [(page)]="page"
		  [(size)]="size"
		  [(total)]="total"
		  [(parametros)]="parametros"
		  (onChangeSize)="changeSize($event)"
		  (onChangePage)="changePage($event)">

	<div class="table-responsive no-margin-bottom no-border">
		<table class="table table-striped">
			<thead class="table-header-color">
				<tr>

					<th class="th-sortable text-center th-100">
						<app-ordenacao field="codigoNivelErro" [sorted]="sorted" (onChangeSort)="changeSort($event)">Local do Erro</app-ordenacao>
					</th>
					<th class="th-sortable">
						<app-ordenacao field="Descricao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Mensagem de Erro</app-ordenacao>
					</th>
					<th class="th-sortable th-200">
						<app-ordenacao field="idErroMensagem" [sorted]="sorted" (onChangeSort)="changeSort($event)">Origem de Erro</app-ordenacao>
					</th>

				</tr>
			</thead>

			<tbody class="text-sm">
				<tr *ngFor="let item of lista; let i = index">
					<td class="unset-nowrap text-center">
						<span *ngIf="item.codigoNivelErro == 1">PLI</span>
						<span *ngIf="item.codigoNivelErro == 2">MERCADORIA</span>
						<span *ngIf="item.codigoNivelErro == 3">DETALHE</span>
						<span *ngIf="item.codigoNivelErro > 3 && item.codigoNivelErro < 0">ERROR</span>
					</td>
					<td class="unset-nowrap">{{item.descricao}}</td>
					<td class="unset-nowrap">{{item.origemErro}}</td>
				</tr>
			</tbody>

		</table>
	</div>

</app-grid>
