<section class="vbox">
    <section class="scrollable">
        <div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

            <!-- CONSULTAR TITLE BGN -->
            <div class="row m-b-md tituloConsultar">
                <div class="col-lg-6">
                    <app-titulo>Detalhe da Solicitação</app-titulo>
                </div>
            </div>
            <!-- CONSULTAR TITLE BGN -->

            <div class="row">
                <div class="col-lg-12">

                    <!-- DADOS DA PLI -->
                    <section class="panel panel-default formPliOculto">
                        <header class="panel-heading">
                            <div class="pull-right">
                                <a (click)="voltar()" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-long-arrow-left"></i> Voltar</a>
                            </div>
                            <h2 class="panel-title h5">Informações do Processo</h2>                        
                        </header>
                        <form>
                            <article class="panel-body">

                                    <div class="row form-group">                                
                                        <div class="col-lg-3" >
                                            <label class="m-r-xs">Nº Processo:</label><span>{{model.numeroProcesso}}</span>
                                        </div>								  
                                        <div class="col-lg-3">
                                            <label class="m-r-xs">Modalidade:</label><span>{{model.modalidade}}</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="m-r-xs">Status:</label><span>{{model.descricaoStatus}}</span>
                                        </div>
                                    </div>  

                                    <div class="row form-group"> 
                                        <div class="m-r-xs">
                                            <div class="col-lg-12">
                                                <div 
                                                    class="alert alert-success" 
                                                    style="background-color: #F0FFF0; border-color: #98FB98; color: #000; font-weight: bold; padding: 8px 15px; margin-bottom: 10px; font-size: 14px;">
                                                    Dados do Produto 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-lg-12">
                                            <div class="col-lg-4" >
                                                <label class="m-r-xs">Produto:</label><span>{{model.numeroProduto}}</span>
                                            </div>
                                        </div>

                                        <div class="row col-lg-12">
                                            <div class="col-lg-8">
                                                <label class="m-r-xs">Descrição:</label>
                                                <span>{{model.descricaoProduto}}</span>
                                            </div>
                                        </div>

                                        <div class="row col-lg-12">
                                            <div class="col-lg-8">
                                                <label class="m-r-xs">Tipo:</label>
                                                <span>{{model.descricaoTipo}}</span>
                                            </div>

                                            <div class="col-lg-4">
                                                <label class="m-r-xs">NCM:</label>
                                                <span class="pull-right">{{model.ncm}}</span>
                                            </div>
                                        </div>

                                        <div class="row col-lg-12">
                                            <div class="col-lg-8">
                                                <label class="m-r-xs">Modelo:</label>
                                                <span>{{model.modelo}}</span>
                                            </div>

                                            <div class="col-lg-4">
                                                <label class="m-r-xs">Unidade:</label>
                                                <span class="pull-right">{{model.unidade}}</span>
                                            </div>
                                        </div>
                                    </div>                                   
                                                                    
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <fieldset style="border: 1px solid #000; padding: 10px;">                                    
                                            <legend style="width: auto;border: 0;margin-bottom: 0px;">Valores de Exportação</legend>
                                            <div class="form-group m-l-sm">
                                                <div class="col-lg-4">
                                                    <label class="m-r-xs">Quantidade Total:</label><span>{{model.qtdTotal}}</span>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="m-r-xs">Valor Total(US$):</label><span>{{model.valorTotal}}</span>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>                                
                                
                            </article>                        
                        </form>

                    </section>
                    <!-- DADOS DA PLI -->


                    <!-- GRID DE REGISTROS BGN -->
                    <section class="panel panel-default tabelaConsultar">
                        <app-detalhe-solicitacao-grid
                            [(lista)]="grid.lista"
                            [(total)]="grid.total"
                            [(size)]="grid.size"
                            [(page)]="grid.page"
                            [(parametros)]="parametros"
                            [(formPai)] = "formPai"
                            (onChangeSort)="onChangeSort($event)"
                            (onChangeSize)="onChangeSize($event)"
                            (onChangePage)="onChangePage($event)">
                        </app-detalhe-solicitacao-grid>          
                    </section>
                    <!-- GRID DE REGISTROS END -->

                </div>
            </div>
        </div>
    </section>
</section>