<div #appModalDetalhesInsumo id="1" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false"
	style="display: none;">
	<div class="modal-dialog" style="width:1500px;margin-top: 10px;" style="
    max-width: 60%;
    width: auto !important;
    margin-top: 10px;
">
		<div class="modal-content">
			<div class="modal-header bg-primary" style="padding: 10px 15px; color: white;">
				<h4 class="modal-title" id="title">Detalhe do Insumo</h4>
			</div>
			<div class="modal-body" style="max-height: calc(100vh - 210px);  overflow-y: auto;">
				<form id="formularioB" #formularioB="ngForm">
					
					<section class="panel panel-default">
						<div class="alert alert-success"
							style="background-color: #deffe1;border-color: #98FB98;color: #000;font-weight: bold;padding: 8px 15px;margin-bottom: 10px;font-size: 14px;">
							Detalhe do Insumo
						</div>
						<article class="panel-body">
							<fieldset>
								<div class="row">
									<div class="col-lg-4">
										<label for="codigoInsumo" class="control-label text-nowrap">
											Cód. Insumo: 
										</label>
										{{modelInsumo.codigoInsumo}}
									</div>	
									<div class="col-lg-8">
										<label for="descricaoInsumo" class="control-label text-nowrap">
											Descrição: 
										</label>
										{{modelInsumo.descricaoInsumo}}
									</div>						
								</div>
								<div class="row">
									<div class="col-lg-2">
										<label for="codigoTipoProduto" class="control-label text-nowrap">
											Tipo: 
										</label>
										{{modelInsumo.tipoInsumo}} - {{modelInsumo.descricaoTipoInsumo}} 
									</div>
									<div class="col-lg-2">
										<label for="codigoNCM" class="control-label text-nowrap">
											NCM: 
										</label>
										{{modelInsumo.codigoNCM}}
									</div>
									<div class="col-lg-3">
										<label for="codigoUnidade" class="control-label text-nowrap">
											Unidade: 
										</label>
										{{modelInsumo.codigoUnidade}} - {{infComplementar.descricaoUnidadeMedida}} 
									</div>
									<div class="col-lg-3">
										<label for="coefTecnico" class="control-label text-nowrap">
											Coeficiente Técnico: 
										</label>
										{{modelInsumo.valorCoeficienteTecnico}}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<label for="partNumber" class="control-label text-nowrap">
											Part Number: 
										</label>
										{{modelInsumo.descricaoPartNumber}}
									</div>
									<div class="col-lg-3">
										<label for="percentPerda" class="control-label text-nowrap">
											Percentual Perda (%): 
										</label>
										{{modelInsumo.valorPercentualPerda | number : '1.1-2' }}
									</div>
									<div class="col-lg-4">
										<label for="qtdMaxInsumo" class="control-label text-nowrap">
											Qtd. Max. Insumo: 
										</label>
										{{modelInsumo.qtdMaxInsumo | number : '1.5-5' }} 
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label for="descricaoModelo" class="control-label text-nowrap">
											Especificação Técnica: 
										</label>
										{{modelInsumo.descricaoEspecificacaoTecnica}}
									</div>
								</div>
								
							</fieldset>
						</article>
					</section>

					<section class="panel panel-default">
						<header class="panel-heading">
							<h2 class="panel-title h5">Registros</h2>
						</header>	
						<div class="panel-body">
							<app-grid-modal-detalhe-processo-insumos
								[(lista)]="grid.lista"
								 [(total)]="grid.total"
								 [(size)]="grid.size"
								 [(page)]="grid.page"
								 [(isUsuarioInterno)]="grid.isUsuarioInterno"
								 [(parametros)]="parametros"
								 [(formPai)] = "formPai"
								 (onChangeSort)="onChangeSort($event)"
								 (onChangeSize)="onChangeSize($event)"
								 (onChangePage)="onChangePage($event)"
								 [(isQuadroNacional)]="isQuadroNacional"
								 >
							</app-grid-modal-detalhe-processo-insumos>
							
						</div>
					</section>
					
				</form>
			</div>
			<div class="modal-footer" style="padding: 10px 15px;">
				<div>
					<button type="button" class="btn btn-sm btn-default" (click)="fechar()"><span class="fa fa-long-arrow-left"></span> Voltar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div #appModalDetalhesInsumoBackground class="modal-backdrop fade in" style="display: none;"></div>