<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Audit.NET" version="10.0.1" targetFramework="net47" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net47" />
  <package id="FluentValidation" version="7.3.2" targetFramework="net47" />
  <package id="Handlebars.Net" version="1.9.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net47" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net47" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net47" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net47" />
  <package id="SimpleInjector.Integration.Web" version="4.0.12" targetFramework="net47" />
  <package id="SimpleInjector.Integration.WebApi" version="4.0.12" targetFramework="net47" />
  <package id="SonarAnalyzer.CSharp" version="6.7.1.4347" targetFramework="net47" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net47" />
</packages>