<div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2">
	<div class="row m-b-md">
		<div class="col-sm-6">
			<app-titulo>{{titulo}}</app-titulo>
			<app-sub-titulo>{{subtitulo}}</app-sub-titulo>
		</div>
	</div> 
	<div class="row">
		<div class="col-lg-12">
			<section class="panel panel-default m-t">
				<header class="panel-heading">
					<div class="pull-right">
						<a (click)="voltar()"
						   class="btn btn-default btn-sm">
							<i class="fa fa-long-arrow-left m-r-xs"></i>Voltar
						</a>
						<button type="button" 
							disableOnClick class="btn btn-primary btn-sm" 
							(click)="finalizarAnalise(true)" 
							[disabled]="desabilitarBotaoFinalizar">
							<i class="fa fa-check m-r-xs"></i>
							Aprovar
						</button>
						<button type="button" 
							disableOnClick class="btn btn-primary btn-sm" 
							style="background-color: red;" 
							(click)="finalizarAnalise(false)" 
							[disabled]="desabilitarBotaoFinalizar">
							<i class="fa fa-ban m-r-xs"></i>
							Bloquear
						</button> 
						<!-- <button type="button" 
							disableOnClick class="btn btn-primary btn-sm" 
							(click)="finalizarAnalise(true)" 
							[disabled]="desabilitarBotaoFinalizar">
							<i class="fa fa-check m-r-xs"></i>
							Concluir Análise
						</button>-->
					</div>
					<h2 class="panel-title h5">Dados do Produto</h2>
				</header>

				<article class="panel-body text-sm">

					<div class="row">

						<div class="col-lg-12">

							<div class="alert alert-success" style="background-color: #F0FFF0; border-color:  #98FB98; color: #000; font-weight: bold;   padding: 8px 15px; margin-bottom: 10px; font-size: 14px;">
								Dados do Produto
							</div>

						</div>
					</div>

					<div class="row col-lg-12">
						<div class="col-lg-12">
							<label class="m-r-xs">Código do Produto:</label><span>{{ model.codigoProduto }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">Produto:</label><span>{{ model.descCodigoProdutoSuframa }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">Tipo:</label><span>{{ model.descCodigoTipoProduto }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">NCM:</label><span>{{ model.descCodigoNCM }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">Unidade:</label><span>{{ model.descCodigoUnidadeMedida }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">Modelo:</label><span>{{ model.descricaoModelo }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">Centro de Custo:</label><span>{{ model.descricaoCentroCusto }}</span>
						</div>
						<div class="col-lg-12">
							<label class="m-r-xs">Código do Modelo:</label><span>{{ model.codigoModeloEmpresa }}</span>
						</div>
					</div>

				

				</article>
				<footer class="panel-footer clearfix panel-footer-sciex">

					<div class="pull-right">
						<a (click)="voltar()"
						   class="btn btn-default btn-sm">
							<i class="fa fa-long-arrow-left m-r-xs"></i>Voltar
						</a>
						 <button type="button" 
							disableOnClick class="btn btn-primary btn-sm" 
							(click)="finalizarAnalise(true)" 
							[disabled]="desabilitarBotaoFinalizar">
							<i class="fa fa-check m-r-xs"></i>
							Aprovar
						</button>

						<button type="button" 
							disableOnClick class="btn btn-primary btn-sm" 
							style="background-color: red;" 
							(click)="finalizarAnalise(false)" 
							[disabled]="desabilitarBotaoFinalizar">
							<i class="fa fa-ban m-r-xs"></i>
							Bloquear
						</button> 

						<!--<button type="button" 
							disableOnClick class="btn btn-primary btn-sm" 
							(click)="finalizarAnalise(true)" 
							[disabled]="desabilitarBotaoFinalizar">
							<i class="fa fa-check m-r-xs"></i>
							Concluir Análise
						</button>-->
					</div>

				</footer>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<section class="panel panel-default m-t">
				<header class="panel-heading">
					<h2 class="panel-title h5">Dados do Insumo</h2>
				</header>
				<form>
					<article class="panel-body">
						<section class="panel panel-default">
							<header class="panel-heading">
								<div [hidden]="!ocultarFiltro" class="pull-right">
									<button type="button" class="btn btn-sm btn-default" style="margin-left: -1px;" (click)="ocultar()"><span class="fa fa-magic m-r-xs"></span>Exibir Filtros</button>
								</div>
								<h2 class="panel-title h5">Filtros de Pesquisa</h2>
							</header>
							<article [hidden]="ocultarFiltro" class="panel-body">
								<form id="formBusca" class="form form-horinzontal" role="form" #formBusca="ngForm" ngNativeValidate>
			
									<div class="row">
										<div class="col-lg-2">
											<label for="codigoNCM" class="control-label">Cód. do Insumo:</label>												
										</div>
										<div class="col-lg-4">
											<input
												onlyNumber="true"
												type="text"
												id="txtCodigoInsumo"
												class="form-control"
												name="codigoInsumo"
												maxlength="9"
												[(ngModel)]="parametros.codigoInsumo"
												onlyNumber="true"
												required
											/>
										</div>
									</div>
									
									<br>

									<div class="row">
										<div class="col-lg-2">
											<label for="tipoInsumo" class="">Tipo Insumo:</label>
										</div>
										<div class="col-lg-4">
											<select name="tipoInsumo"
													id="tipoInsumo"
													class="form-control"
													[(ngModel)]="parametros.tipoInsumo">
												<option value="99">Todos</option>
												<option value="P">P - Insumo Padrão</option>
												<option value="E">E - Insumo Estrangeiro Extra Listagem Padrão</option>
												<option value="N">N - Nacional</option>
												<option value="R">R - Regional</option>
											</select>
										</div>
									</div>

									<br>

									<div class="row">
										<div class="col-lg-2">
											<label for="tipoStatus" class="">Status:</label>
										</div>
										<div class="col-lg-4">
											<select name="tipoStatus"
													id="tipoStatus"
													class="form-control"
													[(ngModel)]="parametros.situacaoInsumo">
												<option value="99">Todos</option>
												<option value="1">Entregue</option>
												<option value="2">Aguardando Aprovação</option>
												<option value="3">Aprovado</option>
											</select>
										</div>
									</div>

									<br>

									<div class="form-group row">
										<div class="col-lg-2">
											<label for="codigoNcm" class="control-label">NCM do Insumo:</label>
										</div>
										<div class="col-lg-8">
											<app-drop-list-select2 
												(valorModificado)="parametros.codigoNCM = $event"
												(onSelected)="selecionaNCM($event)"
												name="codigoNcm"
												required
												[isDisabled]="somenteLeitura"
												servico="ViewNcm"
												[(ngModel)]="parametros.codigoNCM"
												[placeholder]="somenteLeitura ? '' : 'Digite o código ou a descrição'"
												#codigoNCM2>
											</app-drop-list-select2>
										</div>
									</div>

								</form>
							</article>
							<footer [hidden]="ocultarFiltro" class="panel-footer clearfix" style="padding-top: 5px; padding-bottom: 5px;">
								<div class="pull-right">
									<button class="btn btn-sm btn-primary" type="submit" disableOnClick (click)="buscarInsumos()"><i class="fa fa-search"></i> Buscar</button>
									<button #btnlimpar class="btn btn-sm btn-default" type="reset" (click)="limpar()"><i class="fa fa-eraser"></i> Limpar</button>
									<button type="button" class="btn btn-sm btn-default" (click)="ocultar()" style="margin-left: -1px;"><span class="fa fa-magic m-r-xs"></span>Ocultar Filtros</button>
								</div>
							</footer>
							
						</section>
					</article>

					<article class="panel-body">
						<section class="panel panel-default">
							<div class="row">
								<div class="col-lg-12">
									<app-analisar-le-insumo-grid 
										[(lista)]="grid.lista"
										[(total)]="grid.total"
										[(size)]="grid.size"
										[(page)]="grid.page"
										[(parametros)]="parametros"
										[(somenteLeitura)]="somenteLeitura"
										[(isAlteracao)]="isAlteracao"
										(onChangeSort)="onChangeSort($event)"
										(onChangeSize)="onChangeSize($event)"
										(onChangePage)="onChangePage($event)">
									</app-analisar-le-insumo-grid>
								</div>
							</div>
						</section>
					</article>
				</form>
			</section>
		</div>
	</div>
</div>

<app-modal-analisar-insumo #appModalAnalisarInsumo></app-modal-analisar-insumo>