<div
	class="slim-scroll padder-h"
	data-height="auto"
	data-disable-fade-out="true"
	data-distance="0"
	data-size="10px"
	data-railOpacity="0.2">
		<div class="row m-b-md">
			<div class="col-lg-12">
				<h1 class="m-b-xs text-black">Relatório Listagem do Histórico de Insumos da Listagem de Exportação</h1>
				<small></small>
			</div>
		</div>
		<section class="panel panel-default">
			<header class="panel-heading">
				<h3 class="panel-title h5">Filtro de Pesquisa</h3>
			</header>
			<article class="panel-body">
				<form>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<label>Inscrição Cadastral:</label>
								<input
									type="text"
									onlyNumber="true"
									id="inscricao-cadastral"
									name="inscricao-cadastral"
									class="form-control"
									maxlength="9"
									(keyup.space)="filterVm.inscricaoCadastral=null"
									[(ngModel)]="filterVm.inscricaoCadastral"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-8">
								<label>Empresa:</label>
								<input
									type="text"
									name="empresa"
									id="empresa"
									class="form-control"
									(keyup.space)="filterVm.nomeEmpresa=null"
									[(ngModel)]="filterVm.nomeEmpresa"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-8">
								<label class="required">Código do Produto:</label>
								<input
									type="text"
									onlyNumber="true"
									id="codigo-produto"
									name="codigo-produto"
									class="form-control"
									[(ngModel)]="filterVm.codigoProduto"/>
							</div>
						</div>
					</div>
					<div class="row wrapper">
						<div class="col-lg-6 m-t">
							<button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-download"></i>
									Exportar
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a (click)="validar(1)" style="cursor:pointer;"><i class="fa fa-file-pdf-o"></i>Salvar em PDF</a>
								</li>
								<li>
									<a (click)="validar(2)" style="cursor:pointer;"><i class="fa fa-file-excel-o"></i> Salvar em Excel</a>
								</li>
							</ul>
							<a class="btn btn-sm btn-default" (click)="filterVm = {}"><i class="fa fa-eraser"></i> Limpar</a>
						</div>
					</div>
				</form>
			</article>
		</section>
</div>
