<div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2">
	<div class="row m-b-md">
		<div class="col-sm-6">
			<app-titulo>Consultar Análise Visual</app-titulo>
			<app-sub-titulo>Consultar PLI em Análise Visual</app-sub-titulo>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<section class="panel panel-default">

				<header class="panel-heading">
					<div [hidden]="!ocultarFiltro" class="pull-right">
						<button type="button" class="btn btn-sm btn-default" style="margin-left: -1px;" (click)="ocultar()"><span class="fa fa-magic m-r-xs"></span>Exibir Filtros</button>
					</div>
					<h2 class="panel-title h5">Filtros de Pesquisa</h2>
				</header>

				<article [hidden]="ocultarFiltro" class="panel-body">
					<form id="formBusca" class="form form-horinzontal" role="form" #formBusca="ngForm" ngNativeValidate>
						<div class="row">
							<div class="col-lg-2">
								<div class="form-group">
									<label for="txInscricaoCadastral" class="control-label">Inscrição Cadastral:</label>
									<input #inscricaoCadastral
										   type="text"
										   id="txtInscricaoCadastral"
										   class="form-control"
										   name="inscricaoCadastral"
										   maxlength="9"
										    [(ngModel)]="parametros.inscricaoCadastral"
										   onlyNumber="true"
										   (keyup.enter)="buscar(true)" 
										   [attr.disabled]="isUsuarioImportador ? '' : null"/>
								</div>
							</div>
							<div class="col-lg-10">
								<label for="txtEmpresa" class="control-label">Empresa:</label>
								<input #empresa
									   type="text"
									   id="txtEmpresa"
									   class="form-control"
									   maxlength="60"
									   name="empresa"
									    [(ngModel)]="parametros.razaoSocial"
									   (keyup.enter)="buscar(true)"
									   inputTextFilter="true"
									   [attr.disabled]="isUsuarioImportador ? '' : null" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="txtCodigo" class="control-label">Nº PLI:</label>
									<input #npli
										   type="text"
										   id="npli"
										   class="form-control"
										   name="npli"
										   maxlength="11"
										   autocomplete="off"
										   placeholder="aaaa/nnnnnn"
										   formatarNumeroPli="true"
										   [(ngModel)]="parametros.Numero"
										   (keyup.enter)="buscar(true)" />
								</div>
							</div>
							<div class="col-lg-4">
								<label for="dataorigem">Período de Entrega:</label>
								<div class="input-group" style="display: flex;">
									<input #dataEnvioInicial
										   type="date"
										   id="dataInicial"
										   min="0001-01-01" max="9999-12-31"
										   name="dataInicio"
										   [(ngModel)]="parametros.dataInicio"
										   class="form-control date"
										   style="width: 50%;"
										   maxlength="10"
										   autocomplete="off"
										   (keyup.enter)="buscar(true)">

									<span class="text-center" style="padding-right: 15px; padding-top: 8px; margin-left: 15px;">a</span>
									<input #dataEnvioFinal
										   type="date"
										   id="dataFim"
										   name="dataFim"
										   min="0001-01-01" max="9999-12-31"
										   [(ngModel)]="parametros.dataFim"
										   class="form-control date"
										   style="width: 50%;"
										   maxlength="10"
										   autocomplete="off"
										   (keyup.enter)="buscar(true)">
								</div>
							</div>
							<div class="col-lg-4">
								<label for="tipoFornecedor" class="control-label">Status da Análise:</label>
								<select name="tipoStatus"
										id="tipoStatus"
										class="form-control"
										[(ngModel)]="parametros.statusPliSelecionado">
									<option [ngValue]="undefined">Todos</option>
									<option value="2">02 - EM ANÁLISE VISUAL</option>
									<option value="7">07 - ANÁLISE VISUAL OK</option>
									<option value="8">08 - ANÁLISE VISUAL NÃO OK</option>
									<option value="9">09 - ANÁLISE VISUAL PENDENTE</option>
									<option value="11">11 - ANÁLISE VISUAL DEFERIDO</option>
									<option value="12">12 - ANÁLISE VISUAL INDEFERIDO</option>
								</select>

							</div>
							</div>
					</form>

				</article>

				<footer [hidden]="ocultarFiltro" class="panel-footer clearfix" style="padding-top: 5px; padding-bottom: 5px;">
					<div class="pull-right">
						<button class="btn btn-sm btn-primary" type="submit" disableOnClick (click)="$event.preventDefault(); buscar(true)"><i class="fa fa-search"></i> Buscar</button>
						<button class="btn btn-sm btn-default" type="reset" (click)=" limpar()"><i class="fa fa-eraser"></i> Limpar</button>
						<button type="button" class="btn btn-sm btn-default" (click)="ocultar()" style="margin-left: -1px;"><span class="fa fa-magic m-r-xs"></span>Ocultar Filtros</button>
					</div>
				</footer>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<section [hidden]="ocultarGrid" class="panel panel-default">

				<app-consultar-analisevisual-grid [(lista)]="grid.lista"
						   [(total)]="grid.total"
						   [(size)]="grid.size"
						   [(page)]="grid.page"
						   [(parametros)]="parametros"
						   (onChangeSort)="onChangeSort($event)"
						   (onChangeSize)="onChangeSize($event)"
						   (onChangePage)="onChangePage($event)">
				</app-consultar-analisevisual-grid>

			</section>
		</div>
	</div>
</div>