<connectionStrings>
	<!--<add name="DatabaseContext" connectionString="Server=10.75.34.47,1433;Database=dbh_10306_cadsuf;User ID=WS_arrecadacao;Password=qm9e_myitd?yGlm;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	<add name="DatabaseContextSciex" connectionString="Server=10.75.34.51,1433;Database=dbd_11212_su-sciex;User ID=usr_desenvolvimento;Password=ukCX%Toh9wRuYMp;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

	<!--Banco de dados local -->
	<add name="DatabaseContext" connectionString="Server=192.168.0.251;Database=dbh_10306_cadsuf;User ID=dev;pwd=dev;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	<add name="DatabaseContextSciex" connectionString="Server=192.168.0.251;Database=dbd_sciex;User ID=dev;pwd=dev;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />

</connectionStrings>
