<app-grid
		  [(page)]="page"
		  [(size)]="size"
		  [(total)]="total"
		  [(parametros)]="parametros"
		  (onChangeSize)="changeSize($event)"
		  (onChangePage)="changePage($event)"
		  [(tituloGrid)]="tituloGrid"
		  >

	<div class="table-responsive no-margin-bottom no-border">
		<table class="table table-striped">
			<thead style="background-color: #008080; color: white;">
				<tr>
					<!-- <th class="th-100 text-left">Ações</th> -->
					<th class="th-sortable unset-nowrap text-left">
						<app-ordenacao field="DescricaoStatus" [sorted]="sorted" (onChangeSort)="changeSort($event)">Status</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap text-left">
						<app-ordenacao field="Data" [sorted]="sorted" (onChangeSort)="changeSort($event)">Data</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap text-left">
						<app-ordenacao field="DataValidade" [sorted]="sorted" (onChangeSort)="changeSort($event)">Data de Validades</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap text-left">
						<app-ordenacao field="DescricaoPlanoExportacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Plano de Exportação</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap text-left">
						<app-ordenacao field="DescricaoPlanoExportacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Solicitação</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap text-left">
						<app-ordenacao field="DescricaoPlanoExportacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Ação</app-ordenacao>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of lista">
					<td class="text-left">{{item.descricaoStatus}}</td>
					<td class="text-left">{{item.data | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
					<td class="text-left">{{item.dataValidade | date: 'dd/MM/yyyy'}}</td>
					<td class="text-left">{{item.descricaoPlanoExportacao}}</td>
					<td class="text-left">{{item.anoNumeroSolicitacaoFormatado}}</td>
					<td class="text-left">
						<a *ngIf="item.tipo == 'CA' || item.descricaoStatus == 'PE'" (click)="abrirModalDescricaoObservacao(item)" class="btn btn-sm btn-default" title data-original-title="Observação">
						<span class="i i-bubble"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</app-grid>

<app-modal-descricao-observacao #appModalDescricaoObservacao></app-modal-descricao-observacao>
