<div #appModalJustificativaStatusBeneficio id="1" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	<div class="modal-dialog" style="width:700px">
		<div class="modal-content">
			<div class="modal-header bg-primary" style="padding: 10px 15px; color: white;">
				<h4 class="modal-title" id="ajudaModalLabel">Justificativa para Alteração de Status</h4>
			</div>
			<div class="modal-body">
				<form id="formularioB" #formularioB="ngForm" ngNativeValidate (ngSubmit)="salvar()">
					<div class="row form-group">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<label class="control-label required">Justificativa:</label>
								<textarea class="form-control" type="text" id="txtJustificativa" name="txtJustificativa" [(ngModel)]="model.justificativa" rows="4" style="resize: none;"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="padding: 10px 15px;">
				<button type="button" class="btn btn-sm btn-default" (click)="fechar()"><span class="fa fa-times"></span> Cancelar</button>
				<button type="button" id="Salvar" class="btn btn-primary btn-sm" (click)="formulario.onSubmit()"><span class="fa fa-check"></span>Salvar</button>
			</div>
		</div>
	</div>
</div>

<div #appModalJustificativaStatusBeneficioBackground class="modal-backdrop fade in" style="display: none;"></div>
