<div #appModalServicos class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Serviços</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-12" *ngFor="let servico of servicos; let i = index;">
							<label class="checkbox-inline i-checks m-l">
								<input type="checkbox" name="servico{{i}}" [(ngModel)]="servico.isSelecionado"><i></i> {{servico.descricao}}
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="fechar()"><span class="fa fa-times"></span> Fechar</button>
				<a class="btn btn-success" (click)="confirmar()"><span class="fa fa-save"></span> Salvar</a>
			</div>
		</div>
	</div>
</div>
<div #appModalServicosBackground class="modal-backdrop fade in" style="display: none;"></div>
