<div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

	<div class="e row">
		<div class="col-lg-12">
			<section class="panel panel-default m-t">
				<header class="panel-heading FixPanelHeading">

					<div class="pull-right">
						<a (click)="voltar()" 
						   class="btn btn-sm btn-default"
						   ><span class="fa fa-long-arrow-left m-r-xs"></span> 
						Voltar</a>
					</div>

					<h2 class="panel-title h5">Detalhamento da ALI</h2>
				</header>
				<form class="form" role="form">
					<article class="panel-body">

						<div class="row">
							<div class="col-lg-12">
								<div class="alert alert-success" style="background-color: #f7dee5; border-color: #f2c1ce; color: #000; font-weight: bold;   padding: 8px 15px; margin-bottom: 10px; font-size: 14px;">
									Dados da ALI
								</div>
							</div>
						</div>

						<div class="row col-lg-12">

							<div class="col-lg-4 text-nowrap" style="color: #550627;">
								<label class="m-r-xs">Nro. ALI:</label><span>{{modelPLIMercadoria.numeroALI}}</span>
							</div>

							<div class="col-lg-4 text-nowrap" style="color: #115A12;">

								<a	
									*ngIf="modelPLIMercadoria.numeroLI"
									routerLink="/manter-cancelar-li/{{modelPLI.idPliMercadoria}}/visualizar-detalhamento-li" data-toggle="tooltip" title="" data-original-title="Mostrar LI">
									<label class="m-r-xs">Nro. LI:</label><span>{{modelPLIMercadoria.numeroLI}}</span>
								</a>
								<a 
									*ngIf="!modelPLIMercadoria.numeroLI">
									<label class="m-r-xs">Nro. LI:</label><span>--</span>
								</a>
								
							</div>

							<div class="col-lg-4 text-nowrap"  style="color: #234884;">
								<a routerLink="/manter-cancelar-li/{{modelPLI.idPLI}}/visualizar-detalhamento-pli" data-toggle="tooltip" title="" data-original-title="Mostrar PLI">
									<label  class="m-r-xs">Nro. PLI:</label><span>{{ modelPLI.numeroPliConcatenado }}</span>
								</a>							
							</div>

						</div>

						<div class="row col-lg-12">

							<div class="col-lg-12">
								<label class="m-r-xs">Empresa:</label><span>{{modelPLI.inscricaoCadastral}} | {{modelPLI.cnpj}} | {{modelPLI.razaoSocial}}</span>
							</div>

						</div>

						<div class="row col-lg-12">

							<div class="col-lg-4">
								<label class="m-r-xs">Tipo de ALI:</label><span>{{modelPLIMercadoria.tipoALI}}</span>
							</div>

							<div class="col-lg-4">
								<label class="m-r-xs">Data da ALI:</label><span>{{modelPLIMercadoria.dataALIFormatada}}</span>
							</div>

							<div class="col-lg-4">
								<label class="m-r-xs">Data Cancelamento ALI:</label><span>{{modelPLIMercadoria.dataALICanceladaFormatada}}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Código NCM da Mercadoria:</label><span class="pull-right">{{modelPLIMercadoria.codigoNCMMercadoria}}</span>
							</div>
							<div class="col-lg-8">
								<span>{{modelPLIMercadoria.descricaoNCMMercadoria}}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Código do Produto:</label><span class="pull-right">{{modelPLIMercadoria.codigoProdutoFormatado}}</span>
							</div>
							<div class="col-lg-8">
								<span>{{modelPLIMercadoria.descricaoProduto}}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Código do Tipo:</label><span class="pull-right">{{modelPLIMercadoria.tipoProdutoFormatado}}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Código do Modelo:</label><span class="pull-right">{{modelPLIMercadoria.modeloProdutoFormatado}}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Código de Utilização:</label><span class="pull-right">{{ modelPLI.codigoUtilizacao }}</span>
							</div>
							<div class="col-lg-8">
								<span>{{ modelPLI.descricaoUtilizacao }}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Código da Conta:</label><span class="pull-right">{{ modelPLI.codigoConta }}</span>
							</div>
							<div class="col-lg-8">
								<span>{{ modelPLI.descricaoConta }}</span>
							</div>
						</div>

						<div class="row col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Valor Original:</label><span class="pull-right">{{modelPLIMercadoria.valorTotalCondicaoVendaFormatado}}</span>
							</div>
							<div class="col-lg-8">
								<label class="m-r-xs">Moeda: </label><span>{{ modelPLIMercadoria.codigoDescricaoMoeda }}</span>
							</div>
						</div>

						<div class="row m-b-md col-lg-12">
							<div class="col-lg-4">
								<label class="m-r-xs">Valor US$:</label><span class="pull-right">{{modelPLIMercadoria.valorTotalCondicaoVendaDolarFormatado}}</span>
							</div>
						</div>

						<div  *ngIf="modelPLIMercadoria.tipoALI != 'Normal'"> 	
					
							<div class="row">  
								<div class="col-lg-4" style="color: #550627;">
									<label class="m-r-xs">Nro. ALI Substituída:</label> <!-- IdPliSubstitutivo -->
									<a  
										style="color: #550627;"
										*ngIf="modelPLI.numeroALISubstitutiva != null"
										routerLink="/manter-cancelar-li/{{idPliMercadoriaSubstitutivo}}/visualizar-detalhamento-ali-substitutivo" data-toggle="tooltip" title="" data-original-title="Mostrar LI Referência">	
										<span>{{ modelPLI.numeroALISubstitutiva }}</span>
										
	
										<!-- /manter-cancelar-li/{{modelPLI.idPliSubstitutivo}}/visualizar-detalhamento-ali -->
									</a>
									<a  
										style="color: #550627;"
										*ngIf="modelPLI.numeroALISubstitutiva == null"
										data-toggle="tooltip" title="">	
										<span>{{ modelPLI.numeroALISubstitutiva }}</span>
									</a>				
								</div>
	
								<div class="col-lg-4" style="color: #115A12;">
									<label class="m-r-xs">Nro. LI Substituída:</label> <!-- idPliMercadoriaSubstitutivo															   -->
									<a  
										style="color: #115A12;"
										*ngIf="modelPLI.idLiReferencia != null"
										routerLink="/manter-cancelar-li/{{idPliMercadoriaSubstitutivo}}/visualizar-detalhamento-li-substitutivo" data-toggle="tooltip" title="" data-original-title="Mostrar LI Referência">	
										<span>{{ modelPLI.numeroLIReferencia}}</span>
									</a>	
									<a  
										style="color: #115A12;"
										*ngIf="modelPLI.idLiReferencia == null"
										data-toggle="tooltip" title="">	
										<span> -- </span>
									</a>	
	
								</div>
	
								<div class="col-lg-4" style="color: #234884;">
									<label class="m-r-xs">Nro. PLI Substituído:</label> <!-- IdPliSubstitutivo -->
									<a  	
										style="color: #234884;"
										*ngIf="modelPLI.numeroPliSubstitutivoConcatenado != null"
										routerLink="/manter-cancelar-li/{{idPLISubstitutivo}}/visualizar-detalhamento-pli" 
										data-toggle="tooltip" title="" data-original-title="Mostrar PLI Referência">	
										<span> {{modelPLI.numeroPliSubstitutivoConcatenado}} </span>
									</a>
									<a  
										style="color: #234884;"
										*ngIf="modelPLI.numeroPliSubstitutivoConcatenado == null"
										data-toggle="tooltip" title="">	
										<span> -- </span>
									</a>	
									<!-- <label class="m-r-xs">Nro. PLI Substituído:</label>
									<span>{{modelPLI.numeroPliSubstitutivoConcatenado == null || modelPLI.numeroPliSubstitutivoConcatenado == null ? '--' : modelPLI.numeroPliSubstitutivoConcatenado }}</span> -->
								</div>
							</div>
						</div>
							
					</article>
					<footer class="panel-footer clearfix" style="padding-top: 5px; padding-bottom: 5px;">

						<div class="pull-right">
							<a (click)="voltar()" 
							   class="btn btn-sm btn-default"
							   ><span class="fa fa-long-arrow-left m-r-xs"></span> 
							Voltar</a>
						</div>

					</footer>
				</form>
			</section>
		</div>
	</div>

</div>
