<div class="slim-scroll padder-h" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

	<div class="e row">
		<div class="col-lg-12">
			<section class="panel panel-default m-t">
				<header class="panel-heading FixPanelHeading">
					<div class="pull-right">
						<a (click)="voltar()" class="btn btn-default btn-sm">
							<i class="fa fa-long-arrow-left m-r-xs"></i>Voltar
						</a>
					</div>
					<h2 class="panel-title h5">Mercadorias do PLI</h2>
				</header>
				<form class="form" role="form">
					<article class="panel-body text-sm">

						<div class="row">
							<div class="col-lg-12">
								<div class="alert alert-success" style="background-color: #e2f7ff; border-color:  #836FFF; color: #000; font-weight: bold;   padding: 8px 15px; margin-bottom: 10px; font-size: 14px;">
									Dados da DI <span class="fa fa-long-arrow-right"></span> Lista de LIs
								</div>
								
							</div>
						</div>

						<div class="row col-lg-12">

							<div class="col-lg-4" style="color: #836FFF;">
								<label class="m-r-xs">Nº DI:</label><span>{{model.numeroDI}}</span>
							</div>

							<div class="col-lg-4">
								<label class="m-r-xs">Qtd. Adições:</label><span>{{model.di.qtdAdicao}}</span>
							</div>

							<div class="col-lg-4">
								<label class="m-r-xs">Valor Total em Dólar:</label><span class="pull-right">{{model.di.valorTotalDolar}}</span>
							</div>

						</div>

						<div class="row col-lg-12">
							<div class="col-lg-8">
								<label class="m-r-xs">Empresa:</label><span>{{model.inscricaoCadastral}} | {{model.cnpj}} | {{model.razaoSocial}}</span>
							</div>

							<div class="col-lg-4">
								<label class="m-r-xs">Valor Mercadoria na Moeda Negociada:</label><span class="pull-right">{{model.di.valorTotalMn}}</span>
							</div>

						</div>

						<div class="row col-lg-12">
							<div class="line line-dashed b-b line-lg pull-in"></div>
						</div>
	
						<div class="row">
							<br />
						</div>
	
						<div class="col-lg-12 form-group">
	
							<app-grid [(lista)]="lista"
									[(page)]="page"
									[(size)]="size"
									[(total)]="total"
									[isShowPanel]="false"
									[(parametros)]="parametros"
									(onChangeSize)="changeSize($event)"
									(onChangePage)="changePage($event)">
	
								<div class="table-responsive no-margin-bottom no-border">
									<table class="table table-striped">
										<thead class="table-header-color">
											<tr>
												<th class="th-sortable th-100 unset-nowrap">
													<app-ordenacao field="NumeroLi" [sorted]="sorted" (onChangeSort)="changeSort($event)">Nº LI</app-ordenacao>
												</th>
												<th class="th-sortable th-100 unset-nowrap">
													<app-ordenacao field="ValorMercadoriaDolar" [sorted]="sorted" (onChangeSort)="changeSort($event)">VALOR DÓLAR</app-ordenacao>
												</th>
												<th class="th-sortable th-100 unset-nowrap">
													<app-ordenacao field="ValorMercadoriaMoedaNegociada" [sorted]="sorted" (onChangeSort)="changeSort($event)">VALOR NA MOEDA NEGOCIADA</app-ordenacao>
												</th>
											</tr>
										</thead>
	
										<tbody> 
											<tr *ngFor="let item of lista">
												<td class="text-left font-bold"><a routerLink="/consultar-pli/{{model.idPliMercadoria}}/{{item.id}}/visualizar-detalhamento-adicoes-detalhe">{{item.numeroLi}}</a></td>
												<td class="text-left">{{item.valorMercadoriaDolarFormatado}}</td>
												<td class="text-left">{{item.valorMercadoriaMoedaNegociadaFormatado}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</app-grid>
						</div>
	
						<div class="row col-lg-12">
							<div class="line line-dashed b-b line-lg pull-in"></div>
						</div>





					</article>
					<footer class="panel-footer clearfix" style="padding-top: 5px; padding-bottom: 5px;">
						<div class="pull-right">
							<a (click)="voltar()" class="btn btn-default btn-sm">
								<i class="fa fa-long-arrow-left m-r-xs"></i>Voltar
							</a>
						</div>
					</footer>
				</form>
			</section>
		</div>
	</div>

</div>
