<app-grid [(page)]="page" [(size)]="size" [(total)]="total" [(parametros)]="parametros"
	(onChangeSize)="changeSize($event)" (onChangePage)="changePage($event)">

	<div class="table-responsive no-margin-bottom no-border">
		<table class="table table-striped">
			<thead class="table-header-color">
				<tr>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="NumeroProcesso" [sorted]="sorted" (onChangeSort)="changeSort($event)">Nº
							Processo</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="NumeroPlano" [sorted]="sorted" (onChangeSort)="changeSort($event)">Nº
							Plano</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap" *ngIf="isUsuarioInterno">
						<app-ordenacao field="InscricaoSuframa" [sorted]="sorted" (onChangeSort)="changeSort($event)">
							Inscrição Cadastral</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap" *ngIf="isUsuarioInterno">
						<app-ordenacao field="RazaoSocial" [sorted]="sorted" (onChangeSort)="changeSort($event)">Empresa
						</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="TipoModalidade" [sorted]="sorted" (onChangeSort)="changeSort($event)">
							Modalidade</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="TipoStatus" [sorted]="sorted" (onChangeSort)="changeSort($event)">Status
						</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DataStatus" [sorted]="sorted" (onChangeSort)="changeSort($event)">Data
							Status</app-ordenacao>
					</th>
					<th class="text-center th-100">Ações</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let item of lista">
					<td class="text-left">{{item.numeroAnoProcessoFormatado}}</td>
					<td class="text-left">{{item.numeroAnoPlanoFormatado}}</td>
					<td class="text-left" *ngIf="isUsuarioInterno">{{item.inscricaoSuframa}}</td>
					<td class="text-left" *ngIf="isUsuarioInterno">{{item.razaoSocial}}</td>
					<td class="text-left">{{item.tipoModalidadeString}}</td>
					<td class="text-left">{{item.tipoStatusString}}</td>
					<td class="text-left">{{item.dataStatusFormatada}}</td>
					<td class="text-center">
						<a (click)="abrirVisualizar(item.idProcesso)"
							class="btn btn-default btn-sm" data-toggle="tooltip" title=""
							data-original-title="Visualizar"><i class="fa fa-file-text-o"></i>
						</a>
						<!-- <a routerLink="/consultar-processo-exportacao-suframa/{{item.idProcesso}}/visualizar"
							class="btn btn-default btn-sm" data-toggle="tooltip" title=""
							data-original-title="Visualizar"><i class="fa fa-file-text-o"></i>
						</a> -->
						<!-- <a routerLink="/relatorio-certificado-registro-suframa/{{item.idProcesso}}/visualizar"
							class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Certificado"><i class="fa fa-cog fa-fw"></i>
						</a> -->
						<a (click)="abrirModalCertificado(item)" class="btn btn-default btn-sm" data-toggle="tooltip"
							title="" data-original-title="Certificado"><i class="fa fa-cog fa-fw"></i></a>

						<a (click)="abrirModalParecer(item)" class="btn btn-default btn-sm" data-toggle="tooltip"
							title="" data-original-title="Parecer Técnico">
							<i class="i  i-stack2"></i>
						</a>
						<a (click)="abrirTelaVisualizaQuadroImportado(item.idProcesso)"
							*ngIf="item.exibirAlteracao && item.tipoStatus != 'CA'"
							style="background-color:#FF8C00;"
							class="btn btn-warning btn-sm"  title="" data-toggle="tooltip" title="" data-original-title="Analisar Solicitação de Alteração de Insumos">
							<i class="i i-pencil2"></i>
						</a>
						<a
						*ngIf="item.exibirProrrogacao && item.tipoStatus != 'CA'"
						  (click)="abrirModalAnalisarPedidoProrrogacao(item)" class="btn btn-danger btn-sm" style="background-color: #800000;"
						  data-toggle="tooltip" title data-original-title="Analisar Pedido de Prorrogação">
							<i class="fa fa-warning"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</app-grid>

<app-modal-parecer-suframa #appModalParecer>
</app-modal-parecer-suframa>

<app-modal-analisar-pedido-prorrogacao #appModalAnalisarPedidoProrrogacao>
</app-modal-analisar-pedido-prorrogacao>

<app-modal-certificado-suframa #appModalCertificado>
</app-modal-certificado-suframa>
