<app-grid [(page)]="page"
					[(size)]="size"
					[(total)]="total"
					[(parametros)]="parametros"
					(onChangeSize)="changeSize($event)"
					(onChangePage)="changePage($event)"
					>

	<div class="table-responsive no-margin-bottom no-border">
		<table class="table table-striped">
			<thead class="table-header-color">
				<tr>
					<th class="text-center th-100" *ngIf="!somenteLeitura">Ações</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DescricaoPais" [sorted]="sorted" (onChangeSort)="changeSort($event)">Status</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DescricaoPais" [sorted]="sorted" (onChangeSort)="changeSort($event)">País Destino</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="Numero" [sorted]="sorted" (onChangeSort)="changeSort($event)">DU-E</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="DataAverbacao" [sorted]="sorted" (onChangeSort)="changeSort($event)">Data de Averbação</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="Quantidade" [sorted]="sorted" (onChangeSort)="changeSort($event)">Quantidade</app-ordenacao>
					</th>
					<th class="th-sortable unset-nowrap">
						<app-ordenacao field="ValorDolar" [sorted]="sorted" (onChangeSort)="changeSort($event)">Valor (US$)</app-ordenacao>
					</th>
				</tr>
			</thead>

			<tbody>

				<tr *ngFor="let item of lista">
					<td class="text-center" *ngIf="!somenteLeitura">
						
						<a *ngIf="item.situacaoAnalise != 1" (click)="aprovarItem(item)" data-toggle="tooltip" title="Aprovar"
							data-original-title="Aprovar" class="btn btn-primary btn-sm">
							<i class="fa fa-check"></i>
						</a>
						<a *ngIf="item.situacaoAnalise != 2" (click)="abrirGlosa(item)" class="btn btn-danger btn-sm"
							data-toggle="tooltip" title="Reprovar" data-original-title="Reprovar">
							<i class="fa fa-times"></i>
						</a>
					</td>
					<td class="text-left" 
										[ngClass]="{'textGreen': item.situacaoAnalise == 1,
													'textRed': item.situacaoAnalise == 2 ,
													'textBlack': item.situacaoAnalise == 4}"
													>

												{{item.descricaoSituacaoAnalise}}
					</td>
					<td class="text-left">{{item.descricaoPais}}</td>
					<td class="text-left">{{item.numero}}</td>
					<td class="text-left">{{item.dataAverbacaoFormatada}}</td>
					<td class="text-left">{{item.quantidade}}</td>
					<td class="text-left">{{item.valorDolar}}</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</app-grid>
<app-modal-justificativa-generico #appModalJustificativaGlosa ></app-modal-justificativa-generico>
