<div #appModalCertificado class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true"
	style=" display: none; overflow: auto">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-primary" style="padding: 10px 15px; color: white">
				<h4 class="modal-title" id="modalCertificado">Certificado do Processo</h4>
			</div>
			<div class="modal-body">
				<section class="panel panel-default">
					<header class="panel-heading">
						<div [hidden]="!ocultarFiltro" class="pull-right">
							<button type="button" class="btn btn-sm btn-default" style="margin-left: -1px;"
								(click)="ocultar()">
								<span class="fa fa-magic m-r-xs"></span>Exibir Filtros
							</button>
						</div>
						<h2 class="panel-title h5">Filtros de Pesquisa</h2>
					</header>
					<article [hidden]="ocultarFiltro" class="panel-body">
						<form>
							<article class="panel-body">
								<div class="row form-group">
									<div class="row">
										<div class="col-lg-8" style="margin-left: 15px;">
											<label>Escolha o tipo do Certificado a ser visualizado:</label>
											<select name="filtroCertificado" id="filtroCertificado" class="form-control"
												[(ngModel)]="parametros.filtroCertificado">
												<option [ngValue]="undefined">TODOS</option>
												<option value="AP">Aprovação</option>
												<option value="AL">Alteração</option>
												<option value="CA">Cancelamento</option>
												<option value="PR">Prorrogação</option>
												<option value="PE">Prorrogação em caráter especial</option>
												<option value="CO">Comprovado</option>
											</select>
										</div>

									</div>
								</div>
							</article>
						</form>
					</article>
					<footer [hidden]="ocultarFiltro" class="panel-footer clearfix"
						style="padding-top: 5px; padding-bottom: 5px;">
						<div class="pull-right">
							<button class="btn btn-sm btn-primary" type="submit" disableOnClick (click)="buscar()"><i
									class="fa fa-search"></i> Buscar</button>
							<button #btnlimpar class="btn btn-sm btn-default" type="reset" (click)="limpar()"><i
									class="fa fa-eraser"></i> Limpar</button>
							<button type="button" class="btn btn-sm btn-default" (click)="ocultar()"
								style="margin-left: -1px;"><span class="fa fa-magic m-r-xs"></span>Ocultar
								Filtros</button>
						</div>
					</footer>
				</section>
				<div class="row">
					<div class="col-lg-12">
						<app-grid-modal-certificado [(lista)]="grid.lista" [(total)]="grid.total" [(size)]="grid.size"
							[(page)]="grid.page" [(parametros)]="parametros" [(formPai)]="formPai"
							(onChangeSort)="onChangeSort($event)" (onChangeSize)="onChangeSize($event)"
							(onChangePage)="onChangePage($event)">
						</app-grid-modal-certificado>
					</div>
				</div>
			</div>

			<div class="modal-footer" style="padding: 10px 15px;">
				<button type="button" class="btn btn-sm btn-default" (click)="fechar()"><span
						class="fa fa-long-arrow-left"></span> Voltar</button>
			</div>
		</div>
	</div>

</div>
<div #appModalCertificadoBackground class="modal-backdrop fade in" style="display: none;"></div>
